{% extends "base.html" %}

{% block sidebar_home %}text-gray-500 hover:bg-gray-50 hover:text-gray-700{% endblock %}

{% block sidebar_team %}text-gray-500 hover:bg-gray-50 hover:text-gray-700{% endblock %}

{% block sidebar_calendar %}text-gray-500 hover:bg-gray-50 hover:text-gray-700{% endblock %}

{% block sidebar_projects %}text-gray-500 hover:bg-gray-50 hover:text-gray-700{% endblock %}

{% block sidebar_reports %}bg-blue-50 text-blue-700{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Teammitglieder</h1>
<div class="team-container grid grid-cols-3 gap-4">
    {% for member in team_members %}
    <a href="{{ url_for('team_member', username=member['username']) }}" class="team-card-link block p-4 bg-gray-100 rounded shadow hover:bg-gray-200">
        <div class="team-card text-center">
            <img src="{{ url_for('get_avatar', username=member['username']) }}" alt="Avatar" class="w-24 h-24 rounded-full mx-auto mb-2">
            <h3 class="text-lg font-semibold">{{ member['username'] }}</h3>
            <p class="text-sm">Email: {{ member['email'] }}</p>
            <p class="text-sm">Rolle: {{ member['role'] }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}